In [2]:
# Imports and pip installations (if needed)
import numpy as np
import pandas as pd
from sklearn import model_selection, metrics, svm, linear_model, datasets, neural_network

# Part 1: Load the dataset

In [10]:
# Load the dataset (load remotely, not locally)
iris = datasets.load_iris()
# Output the first 15 rows of the data
listTarget_names = [f'{iris.target_names[0]}']*50 + [f'{iris.target_names[1]}']*50 + [f'{iris.target_names[2]}']*50

iris_data_frame = pd.DataFrame(data=np.c_[iris['data'],listTarget_names,iris['target']],
                              columns=iris['feature_names']+['spices']+['target'])
iris_data_frame.head(15)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),spices,target
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0
5,5.4,3.9,1.7,0.4,setosa,0
6,4.6,3.4,1.4,0.3,setosa,0
7,5.0,3.4,1.5,0.2,setosa,0
8,4.4,2.9,1.4,0.2,setosa,0
9,4.9,3.1,1.5,0.1,setosa,0
10,5.4,3.7,1.5,0.2,setosa,0
11,4.8,3.4,1.6,0.2,setosa,0
12,4.8,3.0,1.4,0.1,setosa,0
13,4.3,3.0,1.1,0.1,setosa,0
14,5.8,4.0,1.2,0.2,setosa,0

In [11]:
# Display a summary of the table information (number of datapoints, etc.)
iris_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    object
 1   sepal width (cm)   150 non-null    object
 2   petal length (cm)  150 non-null    object
 3   petal width (cm)   150 non-null    object
 4   spices             150 non-null    object
 5   target             150 non-null    object
dtypes: object(6)
memory usage: 7.2+ KB

In [12]:
iris_data_frame.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),spices,target
count,150,150,150,150,150,150
unique,35,23,43,22,3,3
top,5.0,3.0,1.4,0.2,setosa,0
freq,10,26,13,29,50,50

## About the dataset
Explain what the data is in your own words. What are your features and labels? What is the mapping of your labels to the actual classes?

# Part 2: Split the dataset into train and test

In [18]:
# Take the dataset and split it into our features (X) and label (y)
X = iris_data_frame[iris.feature_names]
y = iris_data_frame['target']

In [ ]:
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)

# Part 3: Logistic Regression

In [11]:
# i. Use sklearn to train a LogisticRegression model on the training set

# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for Logistic regression model, what does the score measure?

# iv. Extract the coefficents and intercepts for the boundary line(s)

# Part 4: Support Vector Machine

In [12]:
# i. Use sklearn to train a Support Vector Classifier on the training set

# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for the SVM, what does the score measure?

# Part 5: Neural Network

In [13]:
# i. Use sklearn to train a Neural Network (MLP Classifier) on the training set

# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for the Neural Network, what does the score measure?

# iv: Experiment with different options for the neural network, report on your best configuration (the highest score I was able to achieve was 0.8666)

# Part 6: K-Nearest Neighbors

In [14]:
# i. Use sklearn to 'train' a k-Neighbors Classifier
# Note: KNN is a nonparametric model and technically doesn't require training
# fit will essentially load the data into the model see link below for more information
# https://stats.stackexchange.com/questions/349842/why-do-we-need-to-fit-a-k-nearest-neighbors-classifier

# ii. For a sample datapoint, predict the probabilities for each possible class

# iii. Report on the score for kNN, what does the score measure?

# Part 7: Conclusions and takeaways

In your own words describe the results of the notebook. Which model(s) performed the best on the dataset? Why do you think that is? Did anything surprise you about the exercise?